<connectionStrings>
  <add name="StoreFrontEntities1" connectionString="metadata=res://*/StoreFrontEnitites.csdl|res://*/StoreFrontEnitites.ssdl|res://*/StoreFrontEnitites.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5056.site4now.net;Initial Catalog=db_a745ec_storefront;User Id=db_a745ec_storefront_admin;Password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source=SQL5056.site4now.net;Initial Catalog=db_a745ec_storefront;User Id=db_a745ec_storefront_admin;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
</connectionStrings>